
@{
    ViewBag.Title = "AboutUs";
}
<div class="jumbotron" style="margin-top:20px">
    <div>
        
    </div>
    
</div>
<div>
    <img src="~/Uploads/payments_options.png" style="height:55px;" />
</div>
    